{{ define "content" }}

<h2 class="mb-4">New Campaign</h2>

{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

<div class="card mb-4">
    <div class="card-body">
        <form action="/campaigns" method="post">
            <div class="form-group">
                <label for="user_id">User</label>
                <select name="user_id" id="user_id" class="form-control">
                    <option value="">-- Select user --</option>
                    {{ range .Users }}
                        {{ if eq .Id $.UserId }}
                        <option value="{{ .Id }}" selected>{{ .Name }}</option>
                        {{ else }}
                        <option value="{{ .Id }}">{{ .Name }}</option>
                        {{ end }}
                    {{end}}
                </select>
            </div>

            <div class="form-group">
                <label for="name">Project Name</label>
                <input type="text" name="name" id="name" placeholder="Enter name" required class="form-control" value="{{ .Name }}">
            </div>
            <div class="form-group">
                <label for="short_description">Short Description</label>
                <input type="text" name="short_description" id="short_description" placeholder="Enter short description" required class="form-control" value="{{ .ShortDescription }}">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea cols="30" rows="10" name="description" id="Description" placeholder="Enter Description" required class="form-control" value="{{ .Description }}"></textarea>
            </div>
            <div class="form-group">
                <label for="goal_amount">Goal Amount</label>
                <input type="number" name="goal_amount" id="goal_amount" placeholder="Enter Goal Amount" required class="form-control" value="{{ .GoalAmount }}">
            </div>
            <div class="form-group">
                <label for="perks">Perks</label>
                <input type="text" name="perks" id="perks" placeholder="Each perk is separated by comma" required class="form-control" value="{{ .Perks }}">
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

{{ end }}